# Dependencies
node_modules/

# Production build
.next/

# Environment variables
.env*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Logs
*.log

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Temporary folders
tmp/
temp/

# Next.js specific
out/
build/
dist/
.nyc_output/

# VS Code
.vscode/